#com-bprivy-panel-iframe {
                display: block;
                padding: 0px;
                margin: 0px;
                border: none;
                z-index: 9007199254740992;
                width: 300px;
                opacity: 0;
}
#com-bprivy-panel	{
                display: block;
				padding: 2px;
				color: black;
				border-radius: 2px;
				background-color: gray;
				opacity: 1;
				border: thin solid gray;
				z-index: 9007199254740992;
				width: auto; 
				height: auto;
				cursor: default;
				font-size: 13px;
				font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
				/*opacity: 0.5*/
			}

.com-bprivy-ul {
                display: block;
                /*width: 295px;*/
                /*background-color: white;*/
                color: black;
                border-style: none;
                margin: 0px;
                padding: 0px;
                height: auto;
                list-style-type: none;
                /*opacity: 0.5;*/
            }

#com-bprivy-panelTitle {
				display: block;
                border-style: none;
                width: auto;
				margin: 0px;
				padding: 0px;
				text-align: center;
				vertical-align: middle; 
			}

#com-bprivy-TitleText {
                /*width: 250px;*/
                margin: 1px;
                padding: 2px;
                border: 2px;
                height: 16px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                cursor: default;
                background-color: none;
                color: black;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                font-weight: bold;
                opacity: 1.0;
}


.com-bprivy-li {
                border-radius: 2px;
                border-collapse:collapse;
                margin: 0px;
                padding: 0px;
                border: none;
                list-style-type: none;
                display: block;
                vertical-align: middle;
            }

#com-bprivy-xB {
                display: inline-block;
                margin: 1px;
                float: right;
                height: 22px;
                width: 22px;
                padding: 1px;
                vertical-align: middle;
                text-align: center;
                
                min-width: 0px;
                min-height: 0px;
                cursor: default;
            }

.com-bprivy-tB {
                display: inline-block;
                float: left;
                margin: 1px;
                height: 25px;
                width: 25px;
                padding: 1px;
                vertical-align: middle;
                text-align: center;
                
                min-width: 0px;
                min-height: 0px;
                cursor: default;
            }

.com-bprivy-io-fields {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                border: none;
}
.com-bprivy-field {
                display: inline-block;
                /*border: thin solid gray;
                border-radius: 2px;
                 cursor: pointer;*/
                /*vertical-align: middle;
                 height: 1.3em;*/
                background-color: white;
 		 		width: 125px;
 		 		margin: 1px;
 		 		padding: 1px;
 		 		height: 16px;
 		 		overflow: hidden;
}

.com-bprivy-user-in {
                text-align: justify;
                border: 2px inset;
} 

.com-bprivy-user-out{
                text-align:justify;
                border: 2px outset;
                /*color: #0080ff;*/
				/*float:left;*/
 		 	}

.com-bprivy-pass-in {
                /*border-top: thin solid black;*/
                text-align: center;
                border: 2px inset;
}
.com-bprivy-pass-out{
				/*float: right;*/
				/*border-top: thin solid black;*/
				text-align: center;
                border: 2px outset;
                /*color: green;*/
			}
			
.com-bprivy-hidden {
                display:none;
            }
                /*position: absolute; top: 0px; right: 0px;
                
                color: white;
                border: thin outset black;
                vertical-align: middle;
                text-align: center;
                width: auto;
                height: auto;*/