/*#com-bprivy-panel-iframe {
                display: block;
                padding: 0px;
                margin: 0px;
                border: none;
                z-index: 9007199254740992;
                width: 293px;
                opacity: 0;
}*/

/* This is the css-shield. Blocks cascading of CSS rules from the environment */
#com-bprivy-panel, #com-bprivy-panel * {
                min-width: 0px;
                min-height: 0px;
                margin: 0px;
                padding: 0px;
                border: none;
                width: auto;
                height: auto;
                border-radius: 2px;
                background: none;
                direction: ltr;
                list-style: none;
}

div#com-bprivy-panel	{
                width: 279px;
                display: block;
				padding: 2px;
				color: black;
				border-radius: 2px;
				background-color: gray;
				opacity: 1;
				border: thin solid gray;
				z-index: 9007199254740992;
				cursor: default;
				font-size: 13px;
				font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
				/*opacity: 0.5*/
			}

#com-bprivy-panel #com-bprivy-panelList {
                display: block;
                /*width: 295px;*/
                /*background-color: white;*/
                color: black;
                border-style: none;
                /*margin: 0px;
                padding: 0px;
                height: auto;*/
                /*opacity: 0.5;*/
            }

#com-bprivy-panel #com-bprivy-panelTitle {
				display: block;
                /*border-style: none;
                width: auto;
				margin: 0px;
				padding: 0px;*/
				text-align: center;
				vertical-align: middle; 
			}

#com-bprivy-panel #com-bprivy-TitleText {
                /*width: 250px;*/
                margin: 1px;
                padding: 2px;
                border: 2px;
                height: 16px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                cursor: default;
                background-color: none;
                color: black;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                font-weight: bold;
                opacity: 1.0;
}


#com-bprivy-panelList .com-bprivy-li {
                border-radius: 2px;
                border-collapse:collapse;
                /*margin: 0px;
                padding: 0px;
                border: none;*/
                display: block;
                vertical-align: middle;
            }

#com-bprivy-panel #com-bprivy-xB {
                display: inline;
                float: right;
                /*margin: 1px;
                height: auto;
                width: auto;
                padding: 1px;*/
                vertical-align: middle;
                text-align: center;
                opacity: 0%;
                background: none;
                
                /*min-width: 0px;
                min-height: 0px;*/
                cursor: default;
            }

#com-bprivy-panelList .com-bprivy-tB {
                display: inline;
                /*float: left;
                margin: 1px;
                height: auto;
                width: auto;
                padding: 1px;*/
                vertical-align: middle;
                text-align: center;
                background: none;
                opacity: 0%;
                
                /*min-width: 0px;
                min-height: 0px;*/
                cursor: default;
            }

#com-bprivy-panelList .com-bprivy-io-fieldset {
                display: inline;
                /*margin: 0px;
                padding: 0px;*/
                border: none;
}

#com-bprivy-panelList .com-bprivy-field {
                display: inline-block;
                /*border: thin solid gray;
                border-radius: 2px;
                 cursor: pointer;*/
                /*vertical-align: middle;
                 height: 1.3em;*/
 		 		width: 125px;
 		 		margin: 1px;
 		 		padding: 1px;
 		 		height: 16px;
 		 		overflow: hidden;
 		 		text-align: justify;
}

#com-bprivy-panelList .com-bprivy-user-in {
                border: 2px inset;
                background-color: white;
} 

#com-bprivy-panelList .com-bprivy-user-out{
                border: 2px outset;
                background-color: light-gray;
                /*color: #0080ff;*/
				/*float:left;*/
 		 	}

#com-bprivy-panelList .com-bprivy-pass-in {
                /*border-top: thin solid black;*/
                border: 2px inset;
                background-color: white;
}
#com-bprivy-panelList .com-bprivy-pass-out {
				/*float: right;*/
				/*border-top: thin solid black;*/
                border: 2px outset;
                background-color: light-gray;
                /*color: green;*/
			}
			
#com-bprivy-panel .com-bprivy-hidden {
                display:none;
            }
